html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff; }

.active {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%; }

nav {
  width: 100%;
  position: fixed; }

nav figure {
  display: none;
  margin-left: 0;
  margin-right: 0; }

nav .nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center; }

nav .nav-links li {
  display: flex;
  list-style-type: none;
  align-items: center; }

nav .nav-links li a {
  padding: 0 8px;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center; }

.nav-section {
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 90%; }

.container {
  margin: 80px auto;
  display: flex;
  width: 90%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container h4 {
  text-transform: uppercase;
  font-weight: 100; }

.container h1, .container h3, .container h5 {
  font-weight: 300; }

.title-section {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0; }

.home-section {
  background-image: url("../../images/header.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 100vh; }

.home-section .good-idea {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  width: fit-content; }

.home-section .good-idea h1 {
  text-transform: uppercase;
  text-align: right;
  margin: 20px 5px;
  color: #74c7d5;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 0.7; }

.home-section .good-idea h1 small {
  font-size: 70%; }

.home-section .good-idea .lead {
  letter-spacing: -7px;
  margin: 20px 5px;
  text-align: left;
  font-size: 4em;
  font-weight: 800; }

.services-section {
  background-image: url("../../images/services-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }

.services-section .container span {
  color: #ec9da2; }

.services-section .container .services-content {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-top: 85px;
  width: 100%;
  justify-content: space-between; }

.services-section .container .services-content .content {
  width: 100%;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.1); }

.services-section .container .services-content .content figure {
  margin-top: 50px; }

.services-section .container .services-content .content figure img {
  width: 100%;
  max-width: 125px; }

.services-section .container .services-content .content h2 {
  font-weight: 300;
  font-size: 120%;
  text-transform: uppercase; }

.services-section .container .services-content .content p {
  margin: 10px 20px 40px 20px; }

.about-section {
  background-image: url("../../images/about-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }

.about-section .container figure {
  margin: 30px 0; }

.about-section .container .about-content {
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between; }

.about-section .container .about-content .content {
  width: 100%;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }

.about-section .container .about-content .content figure {
  margin-top: 50px; }

.about-section .container .about-content .content figure img {
  width: 100%;
  max-width: 125px; }

.about-section .container .about-content .content h2 {
  font-weight: 300;
  font-size: 120%;
  text-transform: uppercase;
  margin-bottom: 0; }

.about-section .container .about-content .content span {
  font-size: 12px;
  color: #a1ca6c; }

.about-section .container .about-content .content .mastered {
  color: #ff8973; }

.about-section .container .about-content .content:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.social {
  margin: 30px auto;
  display: flex;
  width: 60%;
  flex-wrap: wrap; }

.social a {
  width: 30px;
  height: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }

.social .fb:hover {
  background-color: #4f689e; }

.social .twit:hover {
  background-color: #74c7d5; }

.social .g:hover {
  background-color: #df5c64; }

.social .lin:hover {
  background-color: #3e61af; }

.work-section {
  background-image: url("../../images/work-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }

.work-section .container .work-content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between; }

.work-section .container .work-content .content {
  margin: 10px 0;
  width: 100%; }

.work-section .container .work-content .content figure:hover .overlay {
  z-index: 999;
  opacity: 1; }

.work-section .container .work-content .content figure:hover img {
  opacity: 0.5; }

.work-section .container .work-content .content figure {
  background-color: #000000;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center; }

.work-section .container .work-content .content figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.work-section .container .work-content .content figure .overlay {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: auto; }

.work-section .container .work-content .content figure .overlay img {
  opacity: 1 !important; }

.work-section .container .work-content .content .arrow-up {
  width: 0;
  height: 15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  position: absolute;
  align-self: center;
  margin: -30px auto; }

.work-section .container .work-content .content .sub-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0 15px;
  height: 30px; }

.work-section .container .work-content .content .sub-content h2 {
  position: absolute;
  color: #727272;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0; }

.contact-section {
  background-image: url("../../images/contact-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }

.contact-section .container .contact-content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  text-align: left;
  width: 100%;
  align-items: center;
  justify-content: space-between; }

.contact-section .container .contact-content .content {
  width: 90%;
  margin: auto; }

.contact-section .container .contact-content .content iframe {
  margin: auto;
  width: 100%;
  height: 340px; }

.contact-section .container .contact-content .content form {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: space-between; }

.contact-section .container .contact-content .content form input {
  padding: 1%;
  margin-bottom: 10px; }

.contact-section .container .contact-content .content form #name, .contact-section .container .contact-content .content form #email, .contact-section .container .contact-content .content form #msg {
  background-color: rgba(0, 0, 0, 0.1); }

.contact-section .container .contact-content .content form #name, .contact-section .container .contact-content .content form #email, .contact-section .container .contact-content .content form #msg, .contact-section .container .contact-content .content form #submit {
  padding: 10px;
  color: #ffffff;
  border: none;
  font-family: 'Lato', sans-serif; }

.contact-section .container .contact-content .content form #name, .contact-section .container .contact-content .content form #email {
  width: 42%; }

.contact-section .container .contact-content .content form #submit {
  background-color: #df5c64;
  margin: 10px auto 0 auto;
  width: 50%;
  color: #ffffff;
  font-weight: bold; }

.contact-section .container .contact-content .content form #msg {
  overflow: hidden;
  width: 100%;
  resize: none; }

.contact-section .container .contact-content .content form ::-webkit-input-placeholder {
  color: #82c8bd; }

.contact-section .container .contact-content .content form :-moz-placeholder {
  color: #82c8bd;
  opacity: 1; }

.contact-section .container .contact-content .content form ::-moz-placeholder {
  color: #82c8bd;
  opacity: 1; }

.contact-section .container .contact-content .content form :-ms-input-placeholder {
  color: #82c8bd; }

.contact-section .container .contact-content .content form :-ms-input-placeholder {
  color: #82c8bd; }

.contact-section .container .contact-content .content form ::placeholder {
  color: #82c8bd; }

.contact-section .container .contact-content .content .infos {
  margin-top: 30px;
  font-weight: 300; }

.contact-section .container .contact-content .content .infos span {
  font-weight: 600;
  float: right; }

footer {
  background-color: #68a097; }

footer .social {
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  width: 60%; }

footer .social a {
  width: 50px;
  height: 50px; }

/*# sourceMappingURL=stylesSmart.css.map */
