html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff; }

.active {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%; }

nav {
  width: 100%;
  position: fixed; }
  nav figure {
    margin-left: 0;
    margin-right: 0; }
  nav .nav-links {
    display: flex;
    margin: 0; }
    nav .nav-links li {
      display: flex;
      list-style-type: none;
      align-items: center; }
      nav .nav-links li a {
        padding: 0 25px;
        font-weight: 500;
        height: 100%;
        display: flex;
        align-items: center; }

.nav-section {
  text-align: center;
  justify-content: space-between;
  margin: auto;
  width: 83% !important; }

.container {
  display: flex;
  width: 90%; }
  .container h1 {
    font-weight: 300; }
  .container h4 {
    text-transform: uppercase;
    font-weight: 100; }

section {
  height: 100vh;
  min-height: 720px; }

.title-section {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0; }

.home-section {
  background-image: url("../../images/header.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 100vh; }
  .home-section .good-idea {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    width: fit-content; }
    .home-section .good-idea h1 {
      text-transform: uppercase;
      text-align: right;
      margin: 20px 5px 20px 20px;
      color: #74c7d5;
      font-weight: 300;
      font-size: 2.5em;
      line-height: 0.7; }
      .home-section .good-idea h1 small {
        font-size: 70%; }
    .home-section .good-idea .lead {
      letter-spacing: -3px;
      margin: 20px 20px 20px 5px;
      text-align: left;
      font-size: 5em;
      font-weight: 800; }

.services-section {
  background-image: url("../../images/services-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }
  .services-section .container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .services-section .container span {
      color: #ec9da2; }
    .services-section .container .services-content {
      flex-direction: row;
      display: flex;
      text-align: center;
      margin-top: 85px;
      width: 100%;
      justify-content: center; }
      .services-section .container .services-content .content {
        width: 21%;
        margin: 0 15px;
        background-color: rgba(255, 255, 255, 0.1); }
        .services-section .container .services-content .content figure {
          margin-top: 50px; }
          .services-section .container .services-content .content figure img {
            width: 100%;
            max-width: 125px; }
        .services-section .container .services-content .content h2 {
          font-weight: 300;
          font-size: 120%;
          text-transform: uppercase; }
        .services-section .container .services-content .content p {
          margin: 10px 20px 40px 20px; }

.about-section {
  background-image: url("../../images/about-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }
  .about-section .container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .about-section .container figure {
      margin: 30px 0; }
    .about-section .container .services-content {
      flex-direction: row;
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: center; }
      .about-section .container .services-content .content {
        width: 21%;
        margin: 0 15px;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out; }
        .about-section .container .services-content .content figure {
          margin-top: 50px; }
          .about-section .container .services-content .content figure img {
            width: 100%;
            max-width: 125px; }
        .about-section .container .services-content .content h2 {
          font-weight: 300;
          font-size: 120%;
          text-transform: uppercase;
          margin-bottom: 0; }
        .about-section .container .services-content .content span {
          font-size: 12px;
          color: #a1ca6c; }
        .about-section .container .services-content .content .mastered {
          color: #ff8973; }
      .about-section .container .services-content .content:hover {
        background-color: rgba(0, 0, 0, 0.1); }

.social {
  margin: 30px auto;
  display: flex;
  width: 90%;
  flex-wrap: wrap; }
  .social a {
    width: 30px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #a1859e;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
  .social .fb:hover {
    background-color: #4f689e; }
  .social .twit:hover {
    background-color: #74c7d5; }
  .social .g:hover {
    background-color: #df5c64; }
  .social .lin:hover {
    background-color: #3e61af; }

.work-section {
  background-image: url("../../images/work-bg.png");
  background-position: center;
  background-size: cover;
  display: flex; }
  .work-section .container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .work-section .container h4 {
      text-transform: uppercase;
      font-weight: 300; }
    .work-section .container .work-content {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: center; }
      .work-section .container .work-content .content {
        margin: 10px 0;
        max-width: 280px;
        width: 25%; }
        .work-section .container .work-content .content figure:hover .overlay {
          z-index: 999;
          opacity: 1; }
        .work-section .container .work-content .content figure:hover img {
          opacity: 0.5; }
        .work-section .container .work-content .content figure {
          background-color: #000000;
          margin: 0 15px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .work-section .container .work-content .content figure img {
            width: 100%;
            height: 100%;
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out; }
          .work-section .container .work-content .content figure .overlay {
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
            position: absolute;
            width: 30px;
            height: 30px;
            margin: auto; }
            .work-section .container .work-content .content figure .overlay img {
              opacity: 1 !important; }
        .work-section .container .work-content .content .arrow-up {
          width: 0;
          height: 15px;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 15px solid #ffffff;
          position: absolute;
          align-self: center;
          margin: -30px auto; }
        .work-section .container .work-content .content .sub-content {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          margin: 0 15px;
          height: 30px; }
          .work-section .container .work-content .content .sub-content h2 {
            position: absolute;
            color: #727272;
            text-transform: uppercase;
            font-size: 0.8em;
            margin: 0; }

/*# sourceMappingURL=style.css.map */
